* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right top, #d1746b, #d7816d, #dc8e70, 
    #e09b75, #e3a87b, #e0b47c, #dbc080, #d4cc87, #beda94, #a3e7ab,
     #83f2cb, #5ffbf1);
}
.container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "menu menu"
                "container1 resultado"
                "contato contato"
}
.menu {
    grid-area: menu;
    background-color: black;
}
.container1 {
    grid-area: container1;
    background-color: blue;
}
.contato {
    grid-area: contato;
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.resultados {
    background-color: brown;}
.menu__logo {
    width: 3rem;
    height: 3rem;
}
