* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
body {
    height: 100vh;
    background-image: linear-gradient(to right top, #d1746b, #d7816d, #dc8e70, 
    #e09b75, #e3a87b, #e0b47c, #dbc080, #d4cc87, #beda94, #a3e7ab,
     #83f2cb, #5ffbf1);
}
.container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "menu menu"
                "container1 resultado"
                "contato contato"
}
.menu {
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20rem;
    padding-left: 30rem;
    margin-top: 1rem;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu ul li {
    margin: 0 1rem;
    font-size: 2rem;
}
.menu ul li a {
    transition: 300ms;
}
.menu ul li a:hover {
    color: white;
    text-decoration: underline;
    background-color: slateblue;
}
.menu__logo {
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;
}
.container1 {
    grid-area: container1;
    
}
.container1 .form1{
    
    font-size: 2rem;
    margin: 5rem 6rem;
    height: 45rem;
    border: .1rem solid black;
    border-radius: 1rem;
    background-color: white;
}
.container1 .form1 h1{
    text-align: center;
    font-size: 2rem;
}
.container1 .form1 form{
    padding-left: 4rem;
    padding-top: .5rem;
    font-size: 1.8rem;
}
.container1 .form1 form div{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 1rem 1rem;
    padding-left: 5rem;
    border: .1rem solid black;

}
.container1 .form1 form p{
    margin-left: 3rem;
}
.contato {
    grid-area: contato;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    
}
.contato__titulo {
    text-align: center;
}
.contato__titulo div h1 {
    font-size: 2rem;
}
.contato__titulo div form input {
    width: 30rem;
    height: 3rem;
    border-radius: .5rem 0rem 0rem .5rem;
}
.contato__titulo div form button {
    width: 6rem;
    height: 3rem;
    border-radius: 0rem .5rem .5rem 0rem;
}
.contato__titulo div form button:hover {
    background-color: slateblue;
    color: white;
}
.contato .apoio {
    text-align: center;
}
.contato .apoio h1 {
    font-size: 2rem;
    padding-bottom: .8rem;
    animation: blink 1s steps(5, start) infinite;
}
@keyframes blink{
    to{
        visibility: hidden;
    }
}
.contato .apoio a {
    font-size: 1.5rem;
    margin-top: 1rem;
    border: .1rem solid black;
    border-radius: .5rem;
    padding: 0 1rem;
}
.contato .apoio a:hover {
    background-color: slateblue;
    color: white;
}
aside {
    text-align: center;
    font-size: 2rem;
    margin: 5rem 6rem;
    height: 45rem;
    border: .1rem solid black;
    border-radius: 1rem;
    background-color: white;
}

